<h1>Reconstruction</h1>

<div class="container">
    <div class="clearfix">
        <div class="col col-6">
            {{images-loader image_index=image_index}}
        </div>

        <div class="col col-6">
            {{#if loading }}
                <div class="table">
                    <div class="table-cell align-middle">
                        {{fa-icon "spinner" spin=true size='lg'}}
                        Loading..
                    </div>
                </div>
            {{else if reconstructed }}
                <img src='data:image/jpg;base64,{{reconstructed}}'
                    alt='missing image'>
            {{/if}}
        </div>
    </div>

    <div class="col col-12 px2">
        {{three-js-reconstruction update=(action 'updateComponentConnector')}}
    </div>
</div>
